<br>
<div class="row">
	<div class="col-md-9">
		<div class="row border slider_big">
		</div>
		<div class="row slider_small">
			<div class="col-md-3">
				<div class="border">
					<%= image_tag "pooh.png", size:"160x160" %>
				</div>
			</div>
			<div class="col-md-3">
				<div class="border">
					<%= image_tag "slider_small2.jpg", size:"160x160" %>
				</div>
			</div>
			<div class="col-md-3">
				<div class="border">
					<%= image_tag "slider_small3.jpg", size:"160x160" %>
				</div>
			</div>
			<div class="col-md-3">
				<div class="border">
					<%= image_tag "slider_small4.jpg", size:"160x160" %>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="border center">
			 <span class="blue center">ХИТ СЕЗОНА!</span>
			 <%= image_tag "prod2.jpg" %>
			 Замечательный подарок Вашему ребенку.<BR>
			 <div class="cena">3500 <span class="cena_rub">руб</span></div>
			 <%= link_to "Подробнее", "http://localhost:3000/products/11", class: "btn btn-sm btn-primary" %>
		</div>
	</div>
</div>