<table border="1">
  <tr>
    <% for i in 0..@buf.count-1 %>
        <% if  @buf[i][:checked]=="1" %>    
           <th id="head<%= @buf[i][:name]%>"><%= @buf[i][:name]%></th>
        <% end %>    
    <% end %>
  </tr>

<% @products.each do |products| %>

  <tr>
    <% for i in 0..@buf.count-1 %>
        <% if  @buf[i][:checked]=="1" %> 
           <td id="cell<%= products.id %><%= @buf[i][:name] %>"><a class="btn btn-default btn-sm tablebtn<%= @buf[i][:name] %>" href="jscript?lid=<%= products.id %>&lname=<%= @buf[i][:name] %>" id="inner<%= products.id %><%= @buf[i][:name] %>" style="width: 100%; height: 23pt;text-align: left; border-radius: 0" data-remote="true"><%= products[@buf[i][:name]] %></a></td>
          
        <% end %>          
    <% end %>
    
  </tr>
<% end %>
</table>
