$('#cell<%=@lastid%><%=@lastname%>').html('<a class="btn btn-default btn-sm tablebtn<%= @lastname %>" href="jscript?lid=<%= @lastid %>&lname=<%= @lastname %>" id="inner<%= @lastid %><%= @lastname %>" style="width: 100%; height: 23pt;text-align: left; border-radius: 0" data-remote="true"><%= @products[@lastid.to_i-1][@lastname] %></a>');
<% if @openflag==0 %>
tagwidth = $('#cell<%=@id%><%=@name%>').width();
$('#cell<%=@id%><%=@name%>').html('<%= form_tag("/admin/jscript?lid=#{@id}&lname=#{@name}&addr=1", method: "get", remote: true) do %><%=text_field_tag(:cellchange, @cellchange, :value => @products.find_by_id(@id)[@name], :id => "fild_tag")%> <%=submit_tag("Update", id: "subbtn", hidden: true) %><%end%>');
$('#fild_tag').width(tagwidth);
$('#closecell').html('<a id="closebtn" href= "jsmeth?lastid=<%=@id%>&lastname=<%=@name%>" class="btn btn-primary btn-sm" data-remote="true" hidden="hidden">update</a>')
$('#closecell').hide();
$('#closebtn').click();
<% end %>
<% if @openflag==1 %>
$('#cell<%=@id%><%=@name%>').html('<a class="btn btn-default btn-sm tablebtn<%= @name %>" href="jscript?lid=<%= @id %>&lname=<%= @name %>" id="inner<%= @id %><%= @name %>" style="width: 100%; height: 23pt;text-align: left; border-radius: 0" data-remote="true"><%= @products[@id.to_i-1][@name] %></a>');
<% end %>

