<tr id="interest<%= prototype.id %>">
     <%= form_for prototype, url: {action: "interest_update"} do |f| %>
        
        <td>
            <%= f.label :id %><%= f.text_field :id, size: 3 %>
        </td>
        <td>
            <%= f.label :name %><%= f.text_field :name, size: 40 %>
        </td>
        <td><%= f.submit "save",  class:"btn btn-primary" %>
        <%= f.submit "x",  class:"btn btn-danger" %></td>
         
     <% end %>
</tr>
<tr><td colspan="3">
    <% prototype.properties.each do |n| %>
        <%= n.name %>
    <% end %>
</td></tr>