<li class="dropdown <%= 'active' if category.url_name == params[:category] %> ">

	<a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" 
	data-target="/products/<%= category.url_name %>" href="/products/<%= category.url_name %>">
		<%= category.name %>
				<!--Выпадающий список-->
				<% if @subcategory.find_by_category_id(category.id).nil? %>
				</a>
                <% else %>
                <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <%= render @subcategory, collection: @subcategory, 
                    category_id: category.id, category_url: category.url_name
                    %>
                </ul>
                <% end %>
                <!--.Выпадающий список-->
</li>
