
     <div class="one_product">
        <% if (1..100).to_a.shuffle.first > 70 %>
        <div id="best_seller" style="padding:0; position:absolute; z-index:3;width=50px" align="left">
            <%= image_tag ("ribbon_best_seller.png"), size: "50x65" %>
        </div>
        <% end %>
         <%= image_tag (product.image_url), size: "200x200" %><BR>
         <%= link_to "#{product.title} (#{product.id})", products_path %>
         
         <% if product.subcategory %> 
         <br><small>Kатегория"<%= product.category.name %>"</small><br>
         <% end %>

         <% if product.subcategory %> 
         <small>Подкатегория"<%= product.subcategory.name %>"</small><br>
         <% end %>

         <%= sanitize(product.description) %>
         <div class="price_line">
             <span class="price"><%= product.price %>р</span>
             <%= button_to 'Add to Cart', line_items_path(product_id: product), remote: true %>
         </div>
     </div>

   