     
     <div class="one_product">

         <%= image_tag(product.image_url) %>
         <h4><%= product.title %> id=<%= product.id %></h4>

         <% if product.subcategory %> 
         <h6>Kатегория"<%= product.category.name %>"</h6>
         <% end %>

         <% if product.subcategory %> 
         <h6>Подкатегория"<%= product.subcategory.name %>"</h6>
         <% end %>

         <%= sanitize(product.description) %>
         <div class="price_line">
             <span class="price"><%= number_to_currency(product.price) %></span>
             <%= button_to 'Add to Cart', line_items_path(product_id: product), remote: true %>
         </div>
     </div>

   