 <h1>
 	<%= link_to "Все продукты", products_path %>
 	<% if params[:category] %>
 	> <%= link_to @category_name, category_path %>
 	<% end %>
 	<% if params[:subcategory] %>
 		> <%= link_to @subcategory_name, subcategory_path %>
 	<% end %>
 </h1>

 <%= will_paginate @products %>
    <div id="store">
     <%= render :partial => "products/product", :collection => @products %>
    </div>
<%= will_paginate @products%>