<div id="side" class="col-md-2">
	<!-- открываем сайдбар -->
	<% if params[:subcategory].nil? and !params[:category].nil? %>
	<div class="border">
	 	<ul class="ul-category-sidebar">
			 <% if params[:menu] && params[:category].blank? %>
				<div class="pull-left">Категории</div><br>
				<%= render partial: 'layouts/categories', collection: @current_menu.categories, as: :category %>
			<% end %>
			<% if params[:category] && @current_category.subcategories.present? %>
				<div class="pull-left">Категории</div><br>
				<%= render partial: 'layouts/categories', collection: @current_category.subcategories, as: :category %>
			<% end %>
		</ul>
	</div>
	<% end %>

<% value = params[:product][:price] || 0 if params[:product] %>
<div class="border">
	<div class="pull-left">Цена: <%= value %></div><br>
	
	<%= form_tag({action: "index"}, {multipart:true, method: "GET"}) do %>

		<% price = params[:product][:price] || 50 if params[:product] %>
		<%= range_field(:product, :price, in: 1..100, value: price, onclick: "submit();") %>


	
	<% @properties.each do |property| %>
		<% array = property.property_values.where(property_id: property.id) %>
		<% name = property.name %>
		<%= render partial: "layouts/one_side_filter", locals: {array: array, name: name}  %>
    <% end %>

    <%= submit_tag("Подобрать", class: "btn btn-sm btn-primary") %>
    <BR><BR>
    <% end %>
</div>
   


    <!-- закрыть сайдбар -->
</div>

