<div id="side">
	<% if @interests %>
		<ul class="nav nav-tabs nav-tabs-side nav-stacked">
			<div class="pull-left">Интересы</div><br>
				<li class="dropdown active">
					<%= form_for :interest, onclick: "submit();", method: "GET" do |f| %>
					 <%= f.select :id, @interests, onclick: "submit();",
                    prompt: '...' %>
                    <%= submit_tag("ok") %>
                    <% end %>
				</li>
		</ul>
		<br>
	<% end %>
	<% if params[:subcategory].nil? %>
	 	<ul class="nav nav-tabs nav-tabs-side nav-stacked">
			 <% if params[:menu] && params[:category].blank? %>
				<div class="pull-left">Категории</div><br>
				<%= render partial: 'layouts/categories', collection: @current_menu.categories, as: :category %>
			<% end %>
			<% if params[:category] && @current_category.subcategories.present? %>
				<div class="pull-left">Категории</div><br>
				<%= render partial: 'layouts/categories', collection: @current_category.subcategories, as: :category %>
			<% end %>
		</ul>
	<% end %>

<% value = params[:product][:price] || 0 if params[:product] %>

	<div class="pull-left">Цена: <%= value %></div><br>
	
	<%= form_tag '', authenticity_token: false, method: "GET" do %>

		<% price = params[:product][:price] || 50 if params[:product] %>
		<%= range_field(:product, :price, in: 1..100, value: price, onclick: "submit();") %>
		

	
	<div class="pull-left">Поиск: </div><br>
	<% @properties.each do |property| %>
	<% array = property.property_values.where(property_id: property.id).map { |a| [a.value, a.id] } %>
    	<p>
            <%= property.name %> : 
			<%= select(:property, :property_id, array, selected: params[:property_id] ,onclick: "submit();") %>


    	</p>		
    <% end %>
    <%= submit_tag("ok") %>
    <% end %>
</div>

