<!DOCTYPE html>
<html>
<head>
  <title>Demo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body class='<%= controller.controller_name %> , container'>
	<%= render 'layouts/header' %>
    <%= render @cart %>
	<%= render partial: 'layouts/breadcrumb' if @current_menu %>
	<%= render 'layouts/messages' %>

	    <div class="row">
			<%= render 'layouts/sidebar' if !(action_name == 'show' or controller.controller_name == 'static_pages') %>
			<%= yield %>
		</div>

	<%= render partial: 'stuff/main4steps' if action_name == 'index' %>
	<%= render 'layouts/footer' %>
	<%= debug(params) if Rails.env.development? %>
</body>
</html>
